body {
  animation: background 3s forwards ease;
  color: black;
}

html {
  cursor: none;
}

textarea {
  justify-content: center;
  width: 70vh;
  height: 1.5em;
  background-color: transparent;
  border-color: #2b3440;
  font-family: 'Darker Grotesque';
  font-size: 24px;
  resize: none;
  color: #eceff4;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  cursor: none;
}

textarea:hover {
  border-color: rgba(240, 246, 255, 0.418);
  transition: all 0.3s ease;
}

textarea:focus {
  border-color: azure;
  font-size: 15px;
  transition: all 0.3s ease;
  height: 44px
}

h1 {
  font-family: 'Darker Grotesque';
  font-size: 72px;
  width: 55%;
  text-align: start;
}

h2 {
  font-family: 'Darker Grotesque';
  font-size: 28px;
  width: 55%;
  text-align: start;
}

h3 {
  font-family: 'Darker Grotesque';
  font-size: 24px;
  width: 55%;
  text-align: start;
}

h4 {
  font-family: 'Darker Grotesque';
  font-size: 18px;
  width: 55%;
  text-align: start;
}

h5 {
  font-family: 'Darker Grotesque';
  font-size: 14px;
  width: 55%;
  text-align: start;
}

.dot-cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  position: absolute;
  background-color: #ffffff;
  z-index: 99999;
  pointer-events: none;
  top: 0;
  left: 0;
}

.margin {
  margin-bottom: 20px;
}

.centered {
  display: flex;
  top: 50vh;
  left: 50vh;
  width: 50vh;
  height: 50vh;
  position: absolute;
  z-index: 2;
}

.row {
  display: flex;
  width: 20%;
}

.submit {
  width: 44px;
  height: 44px;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  opacity: 0;
}

.elements {
  width: 20%;
  height: 44px;
  width: 44px;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  opacity: 0;
  cursor: none;
}

.s {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
}

.titler {
  animation: rise 1s ease-out forwards;
  animation-delay: 2s;
}

.b {
  animation: rise 1s ease-out forwards;
  animation-delay: 2.8s;
}

.b1 {
  animation: rise 1s ease-out forwards;
  animation-delay: 3s;
}

.b2 {
  animation: rise 1s ease-out forwards;
  animation-delay: 3.2s;
}

.b3 {
  animation: rise 1s ease-out forwards;
  animation-delay: 3.4s;
}

.b4 {
  animation: rise 1s ease-out forwards;
  animation-delay: 3.6s;
}

.b5 {
  animation: rise 1s ease-out forwards;
  animation-delay: 3.8s;
}

.hover {
  color: #eceff4;
  transition: all 0.3s ease;
}

.elements:hover, .submit:hover, .s:hover {
  background-color: #eceff45f;
  transition: all 0.3s ease;
}

.bg {
  opacity: 0;
  background-color:#2b3440;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

.info {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Darker Grotesque';
  color:#eceff4;
}

#bg {
  opacity: 0;
}

#centered {
  opacity: 1;
}

#toggle {
  top: 5vh;
  left: 5vh;
  position: absolute;
}

#toggle2 {
  top: 5vh;
  left: 5vh;
  position: absolute;
}

#toggle:target #toggle {
  animation: fall 1s ease-out forwards;
}

#toggle:target #toggle2 {
  animation: rise 1s ease-out forwards;
}

#toggle:target #bg {
  animation: rise 1s ease-out forwards;
}

#toggle:target #centered {
  animation: fall 1s ease-out forwards;
}

#toggle2:target #toggle {
  animation: rise 1s ease-out forwards;
}

#toggle2:target #toggle2 {
  animation: fall 1s ease-out forwards;
}

#toggle2:target #bg {
  animation: fall 1s ease-out forwards;
}

#toggle2:target #centered {
  animation: rise 1s ease-out forwards;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 100px;
}

@keyframes background {
  from {
    background-color: black;
  }

  to {
    background-color: #2b3440;
  }
}

@keyframes rise {
  from   { 
    transform: translateY(10px); 
    opacity: 0;
  }
  to  { 
    transform: translateY(0px); 
    opacity: 1;
  }
}

@keyframes fall {
  from   { 
    transform: translateY(0px); 
    opacity: 1;
  }
  to  { 
    transform: translateY(-10px); 
    opacity: 0;
  }
}

@media (max-width: 600px) {
  textarea {
    width: 75vw; 
  }

  .margin {
    margin-bottom: 5px;
  }

  .centered {
    flex-direction: column;
    align-items: center;
    left: 0vh;
    width: 40vh
  }
  
  .elements {
    margin: 10px 0;
  }
}