@media print {
  #hero,
  #services,
  #cases,
  #projects {
    display: none !important;
  }
  [style*="translateY"] {
    transform: none !important;
  }
  [style*="translate3d"] {
    transform: none !important;
  }
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}
